<h1>Say#hello</h1>
<p>Helllloooooooooooo!!!!! views/say.html.erb.</p>

<p>
	
	<%= Time.now.nsec %>

</p><p>

	at the tone the time will be.. <%= @time %> exactly
</p><p>
	and then <%= Time.now.nsec %>
</p>
<p>

<a href ="/say/goodbye">Goodbye</a>!

</p>
<p>

	Time to say
	<%= link_to "Goodbye!", say_goodbye_path %>

</p>
