<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Hello Railz!</h2>
<p>try out /posts for the blog app</p>
<h3>.. Now part of a CI environment with <a href="http://myci:8080">Jenkins</a>!!!</h3>
